* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body {
    background-image: linear-gradient(
        rgba(34, 34, 34, 0.843),
        rgba(34, 34, 34, 0.843)
      ),
      url(../images/accueil.jpeg);
    background-size: cover;
}
.inscription{
    display: flex;
    justify-content: space-between;
    width: 70%;
    margin: 10rem auto;
    height: 400px;
    background-color: aliceblue;
}
.inscription div{
    width: 50%;
}
.inscrire{
    background-color: brown;
    padding: 2rem;
    text-align: center;
}
input{
    width: 100%;
}
.ipt{
    width: 49%;
}